@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: Inter;
}

h1 {
    position: absolute;
    font-family: Lancelot;
    color: #EBEBEB;
    width: 15%;
    aspect-ratio: 2.27;
    font-size: 5rem;
    left: 1.5%;
    top: 0.8%;
}

header {
    position: absolute;
    background-color: #2A3233;
    width: 100%;
    height: 10%;
}

nav {
    position: absolute;
    display: flex;
    width: 47%;
    height: 30%;
    right: 8.25%;
    top: 35%;
}

nav>a {
    background-color: #D9D9D9;
    height: 100%;
    width: 22.6%;
    margin-right: 2%;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.75rem;
}

nav>a:hover {
    background-color: #aaaaaa;
}

header>a>img {
    width: 100%;
    height: 100%;
}

header>a {
    position: absolute;
    display: block;
    height: 30%;
    aspect-ratio: 1 / 1;
    top: 35%;
}

header>a:hover {
    filter: invert(30%);
}

#profileButton {
    right: 6%;
}

#cartButton {
    right: 2.5%;
}







#sidebar {
    position: absolute;
    top: 10%;
    background-color: #CDCFD4;
    width: 16.2%;
    height: 114%;
}

#searchBar {
    position: absolute;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    top: 0.75%;
    height: 3%;
    font-size: 1.5rem;
    outline-width: 1px;
    outline-color: black;
    outline-style: solid;
}

#sidebarMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 56%;
    width: 67%;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
}

#sidebarMenu>a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    background-color: #7DBEC3;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    border-radius: 1rem;
}

#sidebarMenu>a:hover {
    background-color: #52afb6;
}

#sidebarMenu>:nth-child(4) {
    background-color: #219AA4;
}

#comments {
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    background-color: #7DBEC3;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    border-radius: 1rem;
    bottom: 7%;
    left: 50%;
    width: 67%;
    transform: translateX(-50%);
}

#comments:hover {
    background-color: #52afb6;
}


#title {
    position: absolute;
    top: 10%;
    left: 16.2%;
    width: 77.1%;
    padding-left: 2%;
    padding-top: 2%;
}

hr {
    position: absolute;
    background-color: black;
    top: 30%;
    left: 16.2%;
    width: 77.1%;
    height: 2px;
    margin-left: 2%;
    border-width: 0;
}

#menu {
    position: absolute;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    left: 16.2%;
    margin-left: 2%;
    top: 35%;
    width: 77.1%;
    height: 85%;
}

#menu>div {
    position: relative;
    background-color: #7DBEC3;
    margin: 5%;
    padding: 5%;
    border-radius: 2rem;
}

#menu>div:hover {
    background-color: #52afb6;
}

#menu>div>img {
    background-color: #FFFFFF;
    position: absolute;
    width: 80%;
    padding: 2.5%;
    border-radius: 2rem;
    aspect-ratio: 1.5 / 1;
    left: 50%;
    transform: translateX(-50%);
}

#menu>div>h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18%;
    font-size: 1.1rem;
    width: 80%;
    text-align: center;
}

#menu>div>p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    font-size: 1.7rem;
}

#menu>div>a {
    position: absolute;
}

#menu>div>a>img {
    filter: invert(100%);
    width: 100%;
    height: 100%;
}





footer {
    position: absolute;
    background-color: #2A3233;
    width: 100%;
    aspect-ratio: 6.25 / 1;
    top: 124%;
}

footer>div {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 10%;
    height: 35%;
}

footer>div>p {
    color: #FFFFFF;
    margin-top: 2%;
    font-size: 1.5rem;
}

.footerLeft {
    left: 5%;
}

.footerRight {
    right: 5%;
}
